# Virtual environment
venv/
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# VS Code settings
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Test / coverage
.coverage
htmlcov/
*.cover
